body {
    display: flex;
    justify-content: center;
}
#root {
    
    text-align: center;
}
#game {
   padding: 5px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
}
.square {
    min-width: 20px;
    min-height: 20px;
    border: 1px solid black;
}
.mark {
    background: rgb(248, 3, 207);
}
#newgame {
    margin-left: 30px;
}